body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;  /* Stacks elements vertically */
}

h1, h3, h4 {
  display: block;  /* Ensure headers stay block-level */
  margin-bottom: 1rem;  /* Adds space below headers */
}


#gameboard {
  border: 10px solid darkgray;
  background-color: lightgrey;
  margin: 0 auto;
  /* display: flex; */
  flex-wrap: wrap;
}

#gameboard div{
  /* width: 48px;
  height:48px; */
  border:1px solid whitesmoke;

  /* text */
  /* font-size: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.tile-clicked{
  background:black;
}

.x1{
  color: blue;
}

.x2{
  color:green
}

.x3{
  color:red
}

.x4{
  color:navy;
}

.x5{
  color:brown;
}

.x6{
  color:teal;
}

.x7{
  color:black;
}

.x8{
  color:gray;
}

#flag-button{
  width:100px;
  height:50px;
  font-size: 30px ;
  background-color: lightgrey;
  border:none;

}

